@model IEnumerable<MVC.Models.SinhVienWithBookViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w3-container">
    @using (Html.BeginForm("ListSVPayLate", "SinhVien", FormMethod.Post))
    {
    }
    <div class="w3-row">
        <b>Danh sách sinh viên trả sách muộn</b>
    </div>
    <hr />
    <table class="w3-table-all w3-card-4 w3-centered">
        <thead>
            <tr class="w3-blue">
                <th class="w3-col l2">Mã sinh viên</th>
                <th class="w3-col l4">Tên sinh viên</th>
                <th class="w3-col l2">Sách mượn</th>
                <th class="w3-col l2">Trễ hạn</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="w3-col l2">@item.IdSV</td>
                        <td class="w3-col l4">@item.NameSV</td>
                        <td class="w3-col l2">@item.NameBook</td>
                        <td class="w3-col l2">@item.DelayDays ngày</td>
                        <td class="w3-col l2">
                            <a asp-action="Details" asp-route-id="@item.IdSV"
                                class="w3-button w3-pink w3-round-large w3-small">Phạt</a>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
